/* Turtletoy Gallery - Fully unique class names */

.turtletoy-gallery {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	align-items: normal;
}

.turtletoy-gallery-item {
	margin: 0;
	flex-grow: 1;
	flex-shrink: 1;
	position: relative;
	overflow: hidden;
}

.turtletoy-gallery-item img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	aspect-ratio: 1;
}

/* Column layout */
.turtletoy-columns-1 .turtletoy-gallery-item {
	flex-basis: 100%;
	max-width: 100%;
}

.turtletoy-columns-2 .turtletoy-gallery-item {
	flex-basis: calc(50% - 0.5em);
	max-width: calc(50% - 0.5em);
}

.turtletoy-columns-3 .turtletoy-gallery-item {
	flex-basis: calc(33.333% - 0.667em);
	max-width: calc(33.333% - 0.667em);
}

.turtletoy-columns-4 .turtletoy-gallery-item {
	flex-basis: calc(25% - 0.75em);
	max-width: calc(25% - 0.75em);
}

.turtletoy-columns-5 .turtletoy-gallery-item {
	flex-basis: calc(20% - 0.8em);
	max-width: calc(20% - 0.8em);
}

.turtletoy-columns-6 .turtletoy-gallery-item {
	flex-basis: calc(16.667% - 0.833em);
	max-width: calc(16.667% - 0.833em);
}

.turtletoy-gallery-item figcaption {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding: 0.5em;
	background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
	color: #fff;
	margin: 0;
}
